@layout('layouts.master')

@section('content')
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">LNURL APP</h1><span class="badge badge-pill badge-info">TESTNET</span>
      <p class="lead"> <a href="https://github.com/btcontract/lnurl-rfc/blob/master/spec.md">LNURL-RFC</a> is a bech32-encoded HTTPS query string which is supposed to help payer
         interact with payee and thus simplify a number of standard scenarios such as requesting 
         incoming channels, withdrawing funds, doing atomic swaps and more.</p>
      <hr class="my-5">
      <p>Open a channel with us to avoid friction or routing issues.</p>
      <a class="btn btn-success btn-lg" data-toggle="collapse" href="#node" role="button" aria-expanded="false" aria-controls="node">Open a channel</a>
      <br><br>
      <div class="collapse" id="node">
        <center>
          <img class="rounded" src="https://api.qrserver.com/v1/create-qr-code/?size=450x450&data=03e0272a5d8971fb448be35af25204f7268af2a5ad5ea593db30351ab0113ced4d@172.81.178.234:9735" alt="Card image cap">
          <center>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="card-deck">
    <div class="card">
      <img class="mx-auto w-25 p-3 card-img-top rounded" src="/icons/wallet-withdrawals.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Wallet Withdrawal</h5><span class="badge badge-pill badge-warning">In Progress</span>
        <p class="card-text">Today users are asked to provide a withdrawal Lightning invoice to a service, 
          this requires some effort and is especially painful when user tries to withdraw funds into mobile 
          wallet using a website on a desktop. Instead of asking for Lightning invoice a service could 
          display a "withdraw" QR code which contains a specialized lnurl.</p>
      </div>
      <div class="card-footer">
          @if(!auth.user.username)
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#withdrawalModal">Start</button></a>
          @else
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#withdrawalModal">Withdraw</button></a>
        @endif
      </div>
    </div>
    <div class="card">
      <img class="mx-auto w-25 p-3 card-img-top rounded" src="/icons/linkeable-payments.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Linkable payments</h5><span class="badge badge-pill badge-danger">Not started</span>
        <p class="card-text">What exists currently is a Proof-of-Payment which is a payment preimage but no
           such thing as Proof-of-Payer. The following scheme may be used by a service to link multiple 
           payments as belonging to a single payer without compromising payer's identity. Related lnurl 
           must be embedded in a Lightning invoice.</p>
      </div>
      <div class="card-footer">
          <button type="button" class="btn btn-primary">Click me</button>
      </div>
    </div>
    <div class="card">
      <img class="mx-auto w-25 p-3 card-img-top rounded" src="./icons/wallet-auth.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Wallet Auth</h5><span class="badge badge-pill badge-danger">Not started</span>
        <p class="card-text">LNURL-RFC can also be used to login user to a service or authorise sensitive actions 
          (such as withdrawal) by signing a challenge.</p>
      </div>
      <div class="card-footer">
          <button type="button" class="btn btn-primary">Click me</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
@set('username', request.input('username'))
@if(!auth.user.username)
<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wallet Withdrawal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="GET">
            <input type="text" id="name" name="username" placeholder="Enter your name" autofocus=1>
          </form>
        </div>
            <div class="modal-footer">
              <button onclick="withdrawalRequest()" type="button" class="btn btn-primary">Access</button>
            </div>
      </div>
    </div>
</div>
@else
<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wallet Withdrawal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bech32request" src="" alt="withdrawal request">

        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Withdraw</button>
            </div>
      </div>
    </div>
</div>
@endif

<div class="alert alert-warning alert-dismissible fade show invisible" hidden role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show invisible" hidden role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-success alert-dismissible fade show" hidden role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
localStorage.setItem('session', Math.floor(Math.random() * 1000000))
var request = $.ajax({
    url: "/withdraw/request",
    type: 'get',
    headers: {
      'x-csrf-token': $('[name=_csrf]').val()
    },
    dataType: 'json'
  })

  request.done(function (data) {
    $('#bech32request').attr('src', 'https://api.qrserver.com/v1/create-qr-code/?size=300x300&data='+data.data );
    console.log({LNURL: data.data});
  })

  request.fail(function (jqXHR, textStatus) {
    console.log(jqXHR)
    console.log(textStatus)
  })
});
</script>
@endsection
